* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

body {
	background-color: #c4c4c4;
}

@font-face {
	font-family: "titlefont";
	src: url(res/fonts/Spectre007-KAdA.ttf);
}

p {
	color: rgb(0, 0, 0);
}

/* HEADER */

header {
	height: 100vh;
	width: 100vw;
	background-image: url(res/web/background.jpg);
	background-position: center;
	border-bottom: solid 1px black;
}
/* NAV */
nav {
    position: fixed;
    top: 0;
	display: flex;
    z-index: 99;
}

.menuicon {
	width: 80px;
	margin-left: 20px;
	margin-top: 20px;
	transition: all 400ms;
	cursor: pointer;
    z-index: 100;
}

.menuicon:hover {
	scale: 1.2;
}

.menuicon:active {
	scale: 1.4;
}

.navcontainer {
	display: none;
	position: fixed;
}

.active {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.684);
	justify-content: space-evenly;
}

.navitem {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 140px;
	text-align: center;
	padding: 5px;
	transition: 800ms;
}

.navitem:hover {
	background-color: #a8a8a8;
	scale: 1.2;
}

nav p {
	font-size: 1.2em;
	background-color: rgba(0, 0, 0, 0.171);
	color: white;
}

.portrait {
	width: 120px;
	height: 120px;
	border-radius: 50px;
	background-image: url(res/web/007.png);
	background-position: center;
}

/* MAIN */

section {
	margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionbody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.sectionbody img{
    width: 25%;
    height: auto;
    border-radius: 25px;
}


.sectiontitle {
	color: rgb(0, 0, 0);
	font-size: 5em;
    letter-spacing: 10px;
    font-weight: 400;
	margin: 0 auto;
	text-align: center;
    font-family: "titlefont";
    margin-bottom: 30px;
    text-shadow: 5px 3px 2px grey;
}

.flemingtxt p{
    font-size: 1.2em;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

iframe{
    height: 70vh;
    width: 70%;
    border-radius: 5px;
}

/* ACTORS GALLERY */

.filmsgallery {
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 80%;
	max-width: 700px;
	min-width: 300px;
	overflow: hidden;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filmimg {
	height: 90%;
	margin: auto;
}

.filmsgallery p {
	font-size: 1.4em;
}

.arrow {
	position: absolute;
	top: 35vh;
	width: 50px;
	margin: 4px;
	transition: 800ms;
	cursor: pointer;
}

.arrow:hover {
	scale: 1.2;
}

.next:active {
	animation: nextrotation 400ms;
}

.prev:active {
	animation: prevrotation 400ms;
}

@keyframes nextrotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-40deg);
	}
}

@keyframes prevrotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(40deg);
	}
}

.next {
	right: 0;
}
.prev {
	left: 0;
}

/* FOOTER */
footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p{

	color: white;
}

footer img {
	width: 60px;
}



/* RESPONSIVE */
@media (max-width: 960px) {
    .sectionbody{
        flex-direction: column;
    }

    
.sectionbody img{
    width: 40%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 20px;
}

iframe{
    width: 90%;
}

p{
    font-size: 1em;
}

.sectiontitle{
    font-size: 1.8em;
}
  }